<!doctype html>
<html lang="en">
  <head>
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="body">
        <div class="big_text_block">
            <div id="absolute_position_text_block">
                <h1>Решение для хакатона</h1>
                <p class="text">Интеллектуальная система фильтрации конфиденциальной информации</p>
                <div class="buttons">
                    <div class="button" id="button1"><a href="">Главная</a></div>
                    <div class="button"><a href="/templates/stat.html">Статистика</a></div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>